In [ ]:
#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
#Ans_1
years_list = [i for i in range(2000,2000+6)]
years_list

[2000, 2001, 2002, 2003, 2004, 2005]

In [ ]:
#2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [7]:
#Ans_2
print("I will be 3 year old in", years_list[3])

I will be 3 year old in 2003

In [ ]:
#3.In the years list, which year were you the oldest?

In [8]:
#Ans_3
print("Max age in", max(years_list))

Max age in 2005

In [ ]:
#4. Make a list called things with these three strings as elements: 'mozzarella', 'cinderella','salmonella'.

In [9]:
#Ans_4
things = list(['mozzarella', 'cinderella','salmonella'])
things

['mozzarella', 'cinderella', 'salmonella']

In [ ]:
#5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [11]:
#Ans_5
#Capitalize() - does not update the list original values.

for i in things:
    print(i.capitalize())
things

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

In [ ]:
#6. Make a surprise list with the elements "Groucho", "Chico", and "Harpo".

In [12]:
#Ans_6
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

In [ ]:
#7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [16]:
#Ans_7
print(surprise_list[-1].lower())

print(surprise_list[-1][::-1])

print(surprise_list[-1][::-1].upper())

harpo
opraH
OPRAH

In [ ]:
#8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [19]:
#Ans_8
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [ ]:
#9. Write the French word for walrus in your three-word dictionary e2f.

In [20]:
#Ans_9
e2f['walrus']

'morse'

In [ ]:
#10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [21]:
#Ans_10
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [ ]:
#11. Print the English version of the French word chien using f2e.

In [22]:
#Ans_11
f2e['chien']

'dog'

In [ ]:
#12. Make and print a set of English words from the keys in e2f.

In [23]:
#Ans_12
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [ ]:
#13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [25]:
#Ans_13
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
print(life)

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''}, 'plants': '', 'other': ''}

In [ ]:
#14. Print the top-level keys of life.

In [26]:
#Ans_14
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [28]:
#15. Print the keys for life['animals'].

In [29]:
#Ans_15
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

In [ ]:
#16. Print the values for life['animals']['cat']

In [30]:
#Ans_16
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']